body{
    background-color: midnightblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}
h1{
    color: lightblue;
}
p{
    color: lightblue;
}
img{
    text-align: center;
    padding: 100px;
}